<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("temp/head", { title: "404 Error" }); %>
</head>
<body>
    <h1>404 | Page Not Found</h1>
    <p>Check your spelling!</p>
    <a href="/"><i class="fas fa-chevron-left"></i> Home</a>
</body>
</html>