<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("temp/head", { title: "404 Error" }); %>
</head>
<body>
    <div class="padding">
        <div class="header">404 Page Not Found</div>
        <div class="margin">Check your spelling!</div>
        <div>
            <a href="/" class="btn link-btn">
                <i class="fas fa-chevron-left"></i> Home
            </a>
        </div>
    </div>

    <%- include("temp/footer"); %>
</body>
</html>