<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("temp/head", { title: "Cards" }); %>
</head>
<body>
    <div class="title center">Cards</div>
    <div class="subtitle center">Birthday Cards!</div>

    <%- include("temp/footer"); %>
    <script src="user-slice.js"></script>
</body>
</html>