<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("temp/head", { title: "Cookie Slice" }); %>
</head>
<body>
    <div class="title">Cookie Slice</div>
    <div class="subtitle">View your cookie!</div>

    <%- include("temp/footer"); %>
    <script src="slice.js"></script>
</body>
</html>