<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("temp/head", { title: "Coder100's Birthday" }); %>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="box">
        <div class="title">Coder100's Birthday</div>
        <div class="subtitle">Celebration Project!!</div>
        <!-- <div class="title">Portfolia try 2</div>
        <div class="subtitle">Crapp Coder</div> -->

        <% if (username) { %>
            <a href="/dash" class="btn btn-big link-btn">Dashboard</a>
        <% } else { %>
            <a href="/login" class="btn btn-big link-btn">Log In</a>
        <% } %>
        
        <div class="spacing"></div>
        <div class="circle"><i class="fas fa-chevron-down"></i></div>
    </div>

    <div class="box extended-box light">
        <%- include("temp/info"); %>
    
        <% if (username) { %>
            <a href="/dash" class="btn btn-big link-btn">Dashboard</a>
        <% } else { %>
            <a href="/login" class="btn btn-big link-btn">Log In</a>
        <% } %>
    </div>
    <%- include("temp/footer"); %>
</body>
</html>