<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("temp/head", { title: "Login with Replit" }); %>
    <link rel="stylesheet" href="auth.css">
    <link rel="stylesheet" href="form.css">
</head>
<body>
    <div class="center">
        <div class="title">Log In</div>
        <div class="subtitle">Powered by replit</div>
        <div class="spacing"></div>
        <div class="margin">Please log in so we can identify you. Thanks!</div>
        <button class="auth-btn btn btn-big btn-blue">
            <img src="replit-logo.png" alt="Log In" class="replit-img">
        </button>
        <div class="margin">You can also log in with just your username!</div>
        <input type="text" class="username text" placeholder="Username..." maxlength="20">
        <button class="btn guest">Log In</button>
    </div>
    
    <script src="auth.js"></script>
    <%- include("temp/footer"); %>
</body>
</html>