<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("temp/head", { title: "Make a card!" }); %>
</head>
<body>
    <div class="title">Write a card!</div>
    <div class="subtitle">Write me a card!</div>

    <%- include("temp/footer"); %>
</body>
</html>