<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("temp/head", { title: "Make a card!" }); %>
</head>
<body>
    <div class="title center">Cards</div>
    <div class="subtitle center">Birthday Cards!</div>
</body>
</html>