.cards {
    display: flex;
}

.card {
    width: 25%;
    height: 250px;

    padding: 8px;
    margin: 8px;

    border-radius: 8px;

    background: rgba(0, 0, 0, 0.5);

    text-align: center;

    cursor: pointer;

    transition: box-shadow 0.2s;
}

.card:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.card-title {
    font-size: 3rem;
    font-weight: bolder;
    color: var(--secondary);
}


.modal {
    position: absolute;

    left: 12.5%;
    top: 12.5%;
    width: 75%;
    height: 75%;

    background: rgba(0, 0, 0, 0.5);
    display: none;

    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.close {
    position: absolute;

    right: 10px;
    top: 10px;

    font-weight: bolder;

    padding: 8px;
    border-radius: 4px;

    background: rgba(255, 255, 255, 0.5);
}

.close:hover {
    background: rgba(255, 255, 255, 0.25);
}