.cards {
    display: flex;
}

.card {
    width: 25%;
    height: 250px;

    padding: 8px;
    margin: 8px;

    border-radius: 8px;

    background: rgba(0, 0, 0, 0.5);

    text-align: center;

    cursor: pointer;

    transition: box-shadow 0.2s;
}

.card:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.card-title {
    font-size: 3rem;
    font-weight: bolder;
    color: var(--secondary);
}