.box {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    height: 100vh;
}

.extended-box {
    min-height: 150vh;
}

.btn {
    margin: 25px 0;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.light {
    background: var(--light);
}